<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Detail</title>
</head>

<body>
  <h1>
    User Profile Details
  </h1>
  <% data.forEach( (item)=> { %>
    <p>
      Hello, <%= item.name%>
    </p>
    <p>
      email: <%= item.email%>
    </p>
    <p>
      Date of Birth: <%= item.dob%>
    </p>
    <% }) %>
</body>

</html>